* {
    font-family: 'Roboto', sans-serif;
}

/* styling for header component */
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(112, 128, 144);
}

.headerComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitleSmall{
    font-size: 20px;
}

.headerTitleLarge {
    font-size: 60px;
}

/* this is to prevent image from stretching on ultra-wide screens */
.headerImage {
    width: 100%;
    max-width: 1800px;
    max-height: 800px;
}

/* styling for the homepage component */
.home{
    display: flex;
    border: 1px solid black;
}

/* styling for the sidebar component */
.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebarTitle{
    color: black;
    margin: 10px;
    border-bottom: 1px solid rgb(112, 128, 144);
    border-top: 1px solid rgb(112, 128, 144);
    font-size: 20px;
    font-weight: 900;
}

.sidebarImage{
    height: 200px;
    width: 200px;
}

.sidebarList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    text-align: center;
}

.sidebarListItem{
    cursor: pointer;
}

/* styling for posts component/component that displays a selection of posts */
.posts{
    width: 70%;
    border: 1px solid black;
}

/* styling for the post component/individual post displays */
.post{
    width: 100%;
    margin: 20px 0px;
    border-bottom: 1px solid rgb(112, 128, 144);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postImg{
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.postMeta{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postCategories{
    margin: 5px;
    font-size: 14px;
    color: gold;
}

.postCategory{
    margin: 5px;
    padding: 8px;
    background: skyblue;
    border-radius: 20px;
    cursor: pointer;
}