* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbarImage{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* styling for header component */
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitleSmall{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.headerTitleLarge {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}

/* this is to prevent image from stretching on ultra-wide screens */
.headerImage {
    width: 100%;
    max-width: 1800px;
    max-height: 800px;
}

/* styling for the homepage component */
.home{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/* styling for the sidebar component */
.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    max-height: 800px;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebarTitle{
    color: black;
    margin: 10px;
    border-bottom: 1px solid rgb(112, 128, 144);
    border-top: 1px solid rgb(112, 128, 144);
    font-size: 20px;
    font-weight: 900;
}

.sidebarImage{
    height: 200px;
    width: 200px;
}

.sidebarList{
    list-style: none;
    display: flex;
    gap: 25px;
    text-align: center;
}

.sidebarListItem{
    cursor: pointer;
}

/* styling for posts component/component that displays a selection of posts */
.postsDisplay{
    width: 75%;
    border: 1px solid black;
}

/* styling for the post component/individual post displays */
.post{
    padding: 20px;
    border-bottom: 1px solid rgb(112, 128, 144);
    display: flex;
    align-items: center;
    justify-content: center;
}

.postImg{
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.postContent{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postCategories{
    margin: 5px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;;
    color: gold;
}

.postCategory{
    margin: 5px;
    padding: 8px;
    background: skyblue;
    border-radius: 20px;
    cursor: pointer;
}

.postTitle{
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
}

.postCreatedAt{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    color: rgb(112, 128, 144);
    margin-bottom: 10px;
}

.postSummary{
    margin-top: 5px;
    padding: 0px 5px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* styling for PostPage page component. This is the page where a selected blog post will be displayed */
.postPage{
    display: flex;
    border: 1px solid black;
}

/* styling for BlogPost component that controls each individual blog post */
.blogPost{
    padding: 20px 10px;
}

.blogImg{
    width: 100%;
    height: 400px;
}

.blogTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
}

.blogCRUD{
    float: right;
}

/* the color of these icons can be modified through the inline styling applied in the BlogPost react component */
.blogCRUDIcon{
    margin: 5px;
    height:20px;
    width:20px;
    cursor:pointer;
}

.blogInfo{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogDate{
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
}

.blogText{
    font-size: 18px;
}

.blogText::first-letter{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 900;
}

/* styling for the Account page */
.account{
    margin-top: 50px;
    display: flex;
}

.accountContent{
    flex: 9;
}

/* styling for login page and register pages. They use the same class since styling for both of these pages is identical */
.login{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(255,255,255,0.6),
        rgba(255, 255, 255,0.6)),
        url(https://images.unsplash.com/photo-1530122037265-a5f1f91d3b99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
